:root {
	--primary-color: #997173 ;
	--primary-color-rgb: 227, 192, 134;
	--secondary-color: #997173 ;
	--secondary-color-rgb: 227, 192, 134;
	--tertiary-color: #0d183e;
	--tertiary-color-rgb: 71, 53, 41;
}
