:root {
	--primary-color: #E9C5C3;
	--primary-color-rgb: 227, 192, 134;
	--secondary-color: #E9C5C3;
	--secondary-color-rgb: 227, 192, 134;
	--tertiary-color: #0d183e;
	--tertiary-color-rgb: 71, 53, 41;
}
