:root {
	--primary-color: #a96d77;
	--primary-color-rgb: 227, 192, 134;
	--secondary-color: #a96d77;
	--secondary-color-rgb: 227, 192, 134;
	--tertiary-color: #110f33;
	--tertiary-color-rgb: 71, 53, 41;
}
